//PEN HEADER
header.header
  h1.header__title Christmas Icons Set
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/christmas-icons" title="Check on Github" target="_blank") Check on Github
    
//PEN CONTENT     
.content
  
  //content inner
  .content__inner
  
    //single icon
    .gift-icon.icon
      
      .gift-icon__body
        .gift-icon__body-ribbon