//PEN HEADER
header.header
  h1.header__title Christmas Icons Set
  h3.header__subtitle (only HTML/CSS, scalable)
  .header__btns.btns
    a.header__btn.btn(href="https://github.com/nat-davydova/christmas-icons" title="Check on Github" target="_blank") Check on Github
    
//PEN CONTENT     
.content
  
  //content inner
  .content__inner
  
    //single icon
    .gift-icon.icon
      
      .gift-icon__ribbon
      
      .gift-icon__top
      
      .gift-icon__body
        .gift-icon__body-ribbon
        
    //single icon
    .bell-icon.icon
    
      .bell-icon__ribbon
        .bell-icon__ribbon-left
        .bell-icon__ribbon-middle
        .bell-icon__ribbon-right
    
      .bell-icon__body
        .bell-icon__body-top
        .bell-icon__body-middle
        .bell-icon__body-bottom
     
    //single icon 
    .santa-icon.icon
    
      .santa-icon__hat
        .santa-icon__hat-top
        .santa-icon__hat-middle
        .santa-icon__hat-bottom
        
      .santa-icon__head
      
        .santa-icon__head-beard
        
        .santa-icon__head-ears
        
        .santa-icon__head-face
          .santa-icon__face-part
          .santa-icon__face-part
          
    //single icon
    .calendar-icon.icon
    
      .calendar-icon__holes
      
      .calendar-icon__body 
      
    //single icon
    .candle-icon.icon
    
      .candle-icon__candle
      
        .candle-icon__candle-flame
      
        .candle-icon__candle-body
          .candle-icon__candle-wax
            .candle-icon__candle-wax-inner
    
      .candle-icon__sledge
        .candle-icon__sledge-hold
        
    //single icon
    .snowman-icon.icon
    
      .snowman-icon__head
        .snowman-icon__face
    
      .snowman-icon__body
      
    //single icon
    .face-icon.icon
    
      .face-icon__hat
        .face-icon__hat-top
          .face-icon__hat-top-inner
        .face-icon__hat-bottom
        
      .face-icon__face
      
        .face-icon__eyes