//mixins
@mixin transition-mix ($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

//basic variables
$theme-font-color: #2c2c2c;

//common styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: 'Solway', serif;
    size: 16px;
    weight: 400;
  }
  color: $theme-font-color;
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

.header__btn {
  @include transition-mix;
  
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  
  background-color: #fff;
  border: 1px solid $theme-font-color;
  border-radius: 3px;
  
  cursor: pointer;
  
  outline: none;
  
  &:last-child {
    margin-right: 0;
  }
  
  &:hover,
  &.js-active{
    color: #fff;
    
    background-color: $theme-font-color;
  }
}

//header styles
.header {
  max-width: 600px;
  margin: 50px auto;
  
  text-align: center;
}

.header__title {
  margin-bottom: 10px;
  
   font: {
    size: 2.1rem;
    weight: 500;
  }
}

.header__subtitle {
  margin-bottom: 30px;
  
   font: {
    weight: 500;
  }
}

//content styles
$icon-dimensions: 150px;

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.content__inner {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(5, $icon-dimensions);
}

.icon {
  width: $icon-dimensions;
  height: $icon-dimensions;
}

//GIFT ICON STYLES
$gift-top: #ed5d51;

$gift-body: #06a98c;
$gift-body-bleak: #00b494;
$gift-body-ribbon: #f0d355;

$gift-ribbon: #dac04e;

$bleak-offset: 10%;

.gift-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gift-icon__ribbon {
  position: relative;
  
  width: 100%;
  height: 20%;
  
  //ribbon parts
  &:before,
  &:after {
    @include position-absolute($top: 0, $left: 50%);
    
    display: block;
    width: 20%;
    height: 100%;
    
    content: '';
    
    border: 4px solid $gift-ribbon;
    
    
    box-sizing: border-box;
  }
  
  &:before {
    transform: translateX(-30%);
    
    border-radius: 24px 10px 24px 0;
  }
  
  &:after {
    transform: translateX(-70%);
    
    border-radius: 10px 24px 0px 24px;
  }
}

.gift-icon__top {
  position: relative;
  
  width: 100%;
  height: 20%;
  
  border-radius: 5px;
  background-color: $gift-top;
  
  overflow: hidden;
  
  //ribbon part
  &:before {
    @include position-absolute($top: 0, $left: 50%);
    
    display: block;
    width: 20%;
    height: 100%;
    
    content: '';
    
    transform: translateX(-50%);
    
    background-color: $gift-ribbon;
  }
  
  //shadow part
  &:after {
    @include position-absolute($top: 0, $left: 0);
    
    display: block;
    width: 10%;
    height: 100%;
    
    content: '';
    
    background-color: rgba(0,0,0,.05);
  }
}

.gift-icon__body {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-content: top;
  width: 85%;
  height: 60%;
  
  background-color: $gift-body;
  
  //lighter part
  &:before {
    @include position-absolute($top: 0, $left: $bleak-offset);
    
    display: block;
    width: calc(100% - #{$bleak-offset});
    height: calc(100% - #{$bleak-offset});
    
    content: '';
    
    background-color: $gift-body-bleak;
    
    z-index: 1;
  }
  
  //pattern part
  &:after {
    @include position-absolute($top: 0, $left: 0);
    
    display: block;
    width: 100%;
    height: 100%;
    
    content: '';
    
    background-image: radial-gradient(circle at center, rgba(0,0,0,.1) 0, transparent 3px);
    background-size: 10px 10px;
    background-repeat: repeat;
    
    z-index: 2;
  }
}

.gift-icon__body-ribbon {
  position: relative;
  
  width: 20%;
  height: 100%;
  
  background-color: $gift-body-ribbon;
  
  z-index: 5;
}


//BELL ICONS STYLES

$bell: #f0d355;
$bell-shadow: #dfc553;
$bell-light: #fff;

$bleak-offset: 15%;

.bell-icon__body {
  position: relative;
  top: 15%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.bell-icon__body-top {
  position: relative;
  
  flex-shrink: 0;
  width: 70%;
  height: 68%;
  
  background-color: $bell-shadow;
  border-radius: 55% 55% 0px 0px;
  
  overflow: hidden;
  
  z-index: 4;
  
  //large bleak
  &:before {
    @include position-absolute($top: 0, $left: $bleak-offset);
    
    display: block;
    width: calc(100% - #{$bleak-offset});
    height: 100%;
    
    content: '';
    
    background-color: $bell;
    border-radius: 55% 55% 0px 0px;
  }
  
  &:after {
    @include position-absolute($top: $bleak-offset, $right: $bleak-offset);
    
    display: block;
    width: $bleak-offset/2;
    height: $bleak-offset * 3;
    
    content: '';
    
    transform: translate(-37%, -19%) rotate(-46deg);
    
    background-color: $bell-light;
    border-radius: $bleak-offset * 4;
  }
}

.bell-icon__body-middle {
  position: relative;
  top: -5%;
  
  flex-shrink: 0;
  width: 100%;
  height: 25%;
  
  background-color: darken($bell-shadow, 8%);
  border-radius: 65% 65% 0px 0px;
  
  overflow: hidden;
  z-index: 2;
  
  //large bleak
  &:before {
    @include position-absolute($top: 0, $left: $bleak-offset);
    
    display: block;
    width: calc(100% - #{$bleak-offset});
    height: 100%;
    
    content: '';
    
    background-color: darken($bell, 8%);;
    border-radius: 65% 65% 0px 0px;
  }
}

.bell-icon__body-bottom {
  position: relative;
  top: -12%;
  
  flex-shrink: 0;
  width: 20%;
  height: 20%;
  
  background-color: $bell-shadow;
  border-radius: 50%;
  
  overflow: hidden;
  z-index: 1;
  
  &:before {
    @include position-absolute($top: 0, $left: 2 * $bleak-offset);
    
    display: block;
    width: calc(100% - #{$bleak-offset});
    height: 100%;
    
    content: '';
    
    background-color: $bell;
    border-radius: 50%;
  }
}